

.bg-transparent{
    margin: 1rem;
    border: 2px solid rgba(255,255,255, .2);
    color: white;
    backdrop-filter: blur(10px);
    border-radius: 10px;
    text-align: center;
}

.input-text{
    width: 400px;
    height: 50px;
    border: none;
    background: transparent;
    outline: none;
    border: 2px solid rgba(255,255,255, .2);
    border-radius: 40px;
    font-size: 16px;
    padding: 20px 45px 20px 20px;
    margin: 1rem;
}

.input-area{
    width: 400px;
    height: 100px;
    border: none;
    background: transparent;
    outline: none;
    border: 2px solid rgba(255,255,255, .2);
    border-radius: 40px;
    font-size: 16px;
    padding: 20px 45px 20px 20px;
    margin: 0;
}

.select-modal{
    width: 400px;
    height: 50px;
    border: none;
    background: transparent;
    outline: none;
    border: 2px solid rgba(255,255,255, .2);
    border-radius: 40px;
    font-size: 16px;
    padding: 0px 45px 0px 20px;
    margin: 1rem;
}

.select-modal option{
    background: #333;
    color: white !important;
}

.select-modal option:focus{
    background: #333;
    color: white !important;
}
